<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="url" value="https://fusion5d365demo2.crm6.dynamics.com/XRMServices/2011/Organization.svc" />
        <add key="username" value="admin@fusion5066.onmicrosoft.com" />
        <add key="password" value="Passw0rd2" />
        <add key="out" value="../WebResources/typings/XRM" />
        <add key="jsLib" value="../WebResources/src/lib" />
        <add key="entities" value="account, contact" />
    </appSettings>
</configuration>